body{
    background-color:#D5FFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.image{
    text-align: center;
    
}
.image img {
    max-width: 70vw;
    height: auto;
}