body{
    background-color:#D5FFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.image{
    text-align: center;
    
}
.image img {
    max-width: 70vw;
    height: auto;
}
.top{
     text-align: center;
    background-color: rgb(255,255,255);
    color: #C8032B;
    margin-bottom: 2em;
}
.section{
    background-color:rgb(255,255,255) ;
    color:#313537
    margin: 2em;
    padding: 2em;
}
.video iframe{
    display: block;
    margin: auto;
}
.tableauPlaceholder{
    margin: auto;
    padding: 2em;
}

.links a{
    text-decoration:underline;
    text-align: center;
    color: #C8032B;
    font-weight: bold;
}