body{
    background-color:#D5FFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.image{
    text-align: center;
    
}
.image img {
    max-width: 70vw;
    height: auto;
}
.top{
      background-color:rgb(255,255,255);
    color: #C8032B;
    text-align: center;
    top:0px;
    margin: 2em 8em;
    min-height: 3em;
    z-index: 1;
    font-weight: bolder;
    padding: 0.5em;
}
.section{
    background-color:rgb(255,255,255) ;
    color:#313537
    margin: 2em;
    padding: 2em;
}